.home { 
	display: flex;
	padding: 25px;
    align-items: center;
    justify-content: space-between;
    width: 1199px;
    padding-left: 0px;
}



.home h3 { 
flex-grow: 1;
}

.home p {
    text-align: justify;
}
